$primary-color: #3d69f9;
$light-green: #d9f9e4;
$light-pink: #ffe1e1;
$red-color: #f93535;
$green-color: #57bc80;
$yellow-color: #fab32b;
$sky-blue-color: #81d2f2;
$blue-color: #0cb8fd;
$hover-blue: #4d6dd4;
$light-blue: #bfedff;
$rose-color: #f77fb0;
$border-grey: #e0e0e4;
$grey-color: #7f7f7f;
$light-grey: #f1f2f1;
$hover-grey: rgba(158, 158, 158, 0.48);
$black-color: #000;
$white-color: #fff;
$space-unit: 5px;
$font-unit: 12px;

/*------overrides------*/
body {
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: $light-grey;
}

.bg-wt {
  background: #fff;
}

.border-danger {
  border-color: $red-color !important;
}

label {
  margin: 0;
}

p {
  font-family: "Open Sans", sans-serif;
}

.nounderline{
  text-decoration: none !important; 
}

select.form-control:not([size]):not([multiple]) {
  height: auto;
}

.text-red {
  color: $red-color;
}

.btn {
  cursor: pointer;
}

.btn-link {
  color: $primary-color;
  font-weight: 600;
  text-decoration: none;
  font-size: 12px;

  &:hover,
  &:focus {
    text-decoration: none;
    background-color: $hover-grey;
  }
}

.btn-link-danger {
  color: $red-color;

  &:hover,
  &:focus {
    color: $red-color;
    background-color: $hover-grey;
  }
}

.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;

  &:hover,
  &:focus {
    background-color: $hover-blue;
    border-color: $hover-blue;
  }
}

.btn-disabled {
  cursor: not-allowed;
}

.btn-rounded {
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 12px;
}

.form-control {
  height: 50px;
  padding: 12px 14px;
  border: solid 1px $border-grey;
  box-shadow: none;
  border-radius: 4px;
  font-size: 1em;
}

.input-sm {
  height: 30px;
  padding: 4px 12px;
  font-size: 13px;
}

select.select-field {
  height: 30px !important;
  padding: 5px 14px !important;
  border-radius: 3px;
  font-size: 12px;
  border: solid 1px $border-grey;
  color: $grey-color;
  background-image: url("./images/down-arrow.png");
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: top 8px right 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-control:focus {
  box-shadow: none;
  border-color: $hover-grey;
}

textarea.form-control {
  height: auto;
  line-height: inherit;
  padding: 14px;
}

select.form-control {
  height: 50px;
  padding: 12px 14px;
}

.form-btn {
  width: 250px;
  display: block;
  margin: 0 auto;
  height: 50px;
  line-height: 48px;
  padding: 0 15px;
  border-radius: 100px;
}

.no-border {
  border: 0 !important;
}

.no-shadow {
  box-shadow: none !important;
}

.no-border tbody > tr > td,
.no-border thead > tr > td,
.no-border thead > tr > th {
  border: 0;
}

/*-----range-slider----*/
input[type="range"] {
  height: 25px;
  -webkit-appearance: none;
  margin: 0;
  width: 100%;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    transition-duration: 0.2s;
    box-shadow: 0px 0px 0px $black-color;
    background: $blue-color;
    border-radius: 1px;
    border: 0px solid $black-color;
  }
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  transition-duration: 0.2s;
  box-shadow: 0px 0px 0px $black-color;
  background: $blue-color;
  border-radius: 1px;
  border: 0px solid $black-color;
}

input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px $black-color;
  border: 1px solid $blue-color;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: $sky-blue-color;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: $blue-color;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  transition-duration: 0.2s;
  box-shadow: 0px 0px 0px $black-color;
  background: $blue-color;
  border-radius: 1px;
  border: 0px solid $black-color;
}

input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 0px $black-color;
  border: 1px solid $blue-color;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: $sky-blue-color;
  cursor: pointer;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  transition-duration: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-ms-fill-lower {
  background: $blue-color;
  border: 0px solid $black-color;
  border-radius: 2px;
  box-shadow: 0px 0px 0px $black-color;
}

input[type="range"]::-ms-fill-upper {
  background: $blue-color;
  border: 0px solid $black-color;
  border-radius: 2px;
  box-shadow: 0px 0px 0px $black-color;
}

input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px $black-color;
  border: 1px solid $blue-color;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: $sky-blue-color;
  cursor: pointer;
}

input[type="range"]:focus::-ms-fill-lower {
  background: $blue-color;
}

input[type="range"]:focus::-ms-fill-upper {
  background: $blue-color;
}

/*-----end---*/
/*-----material-form-----*/
.form-group::after,
.form-group::before {
  content: "";
  display: table;
}

.form-group::after {
  clear: both;
}

.form-material .form-control {
  padding-right: 0;
  padding-left: 0;
  height: 40px;
  background-color: transparent;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center bottom, center -webkit-calc(100% - 1px);
  background-position: center bottom, center calc(100% - 1px);
  -webkit-background-size: 0 2px, 100% 1px;
  background-size: 0 2px, 100% 1px;
  -webkit-transition: background 0s ease-out;
  -o-transition: background 0s ease-out;
  transition: background 0s ease-out;
  font-size: 16px;
  color: $black-color;
}

.form-material .form-control,
.form-material .form-control:focus,
.form-material .form-control.focus {
  float: none;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from($hover-blue),
      to($hover-blue)
    ),
    -webkit-gradient(linear, left top, left bottom, from(#e0e0e0), to(#e0e0e0));
  background-image: -webkit-linear-gradient($hover-blue, $hover-blue),
    -webkit-linear-gradient(#e0e0e0, #e0e0e0);
  background-image: -o-linear-gradient($hover-blue, $hover-blue),
    -o-linear-gradient(#e0e0e0, #e0e0e0);
  background-image: linear-gradient($hover-blue, $hover-blue),
    linear-gradient(#e0e0e0, #e0e0e0);
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;

  &[aria-error="true"] {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(red),
        to(red)
      ),
      -webkit-gradient(linear, left top, left bottom, from(#e0e0e0), to(#e0e0e0));
    background-image: -webkit-linear-gradient(red, red),
      -webkit-linear-gradient(#e0e0e0, #e0e0e0);
    background-image: -o-linear-gradient(red, red),
      -o-linear-gradient(#e0e0e0, #e0e0e0);
    background-image: linear-gradient(red, red),
      linear-gradient(#e0e0e0, #e0e0e0);
  }
}

.form-material .form-control::-webkit-input-placeholder {
  color: #bfbfcf;
}

.form-material .form-control::-moz-placeholder {
  color: #bfbfcf;
}

.form-material .form-control:-ms-input-placeholder {
  color: #bfbfcf;
}

.form-material .form-control:disabled::-webkit-input-placeholder {
  color: #bdbdbd;
}

.form-material .form-control:disabled::-moz-placeholder {
  color: #bdbdbd;
}

.form-material .form-control:disabled:-ms-input-placeholder {
  color: #bdbdbd;
}

.form-material .form-control:focus,
.form-material .form-control.focus {
  -webkit-background-size: 100% 2px, 100% 1px;
  background-size: 100% 2px, 100% 1px;
  outline: none;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.form-material .form-control:disabled,
.form-material .form-control[disabled],
fieldset[disabled] .form-material .form-control {
  background: transparent;
  background: transparent;
  border-bottom: 1px dashed #bdbdbd;
}

.form-material .form-control:disabled ~ .floating-label,
.form-material .form-control[disabled] ~ .floating-label,
fieldset[disabled] .form-material .form-control ~ .floating-label {
  color: #bdbdbd;
}

.form-material textarea.form-control,
.form-material select[multiple],
.form-material select[size] {
  height: auto;
}

.form-material > label {
  font-size: 16px;
  color: #555555;
  font-weight: 400;
  margin: 0;
}

.form-material select.form-control {
  border: 0;
  border-radius: 0;
}

.form-material .form-control:invalid {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from($primary-color),
      to($primary-color)
    ),
    -webkit-gradient(linear, left top, left bottom, from(#e0e0e0), to(#e0e0e0));
  background-image: -webkit-linear-gradient($primary-color, $primary-color),
    -webkit-linear-gradient(#e0e0e0, #e0e0e0);
  background-image: -o-linear-gradient($primary-color, $primary-color),
    -o-linear-gradient(#e0e0e0, #e0e0e0);
  background-image: linear-gradient($primary-color, $primary-color),
    linear-gradient(#e0e0e0, #e0e0e0);
}

.radio-f-label {
  display: block;
  margin-bottom: 15px !important;
}

.form-material select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.btn-pagination {
  height: 32px;
  width: 32px;
  margin-right: 5px;
  border-radius: 50%;
  text-align: center;
  padding: 0;
  line-height: 32px;
}

/*----end---*/
/*--------navigation-----*/
.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 0;
  box-shadow: 0 2px 4px 0 #ddd;
  z-index: 1001;
  height: 70px;
}

.main-nav .navbar-nav {
  padding-top: 20px;
}

.navbar-brand {
  margin-left: 1rem;

  & img {
    display: inline-block;
    height: 50px;
    width: auto;
  }
}

.main-nav .navbar-nav > li > a {
  color: #888;
  font-size: 1em;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.main-nav .navbar-nav > li > a img {
  display: inline-block;
  vertical-align: middle;
  // margin-right: 8px;
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav .nav-link {
    padding: 0.5em 1.5em;
    height: 51px;
  }
}

.main-nav .navbar-nav > li > a:hover,
.main-nav .navbar-nav > li > a:focus {
  background-color: rgba(134, 134, 134, 0.1);
  opacity: 1;
}

.main-nav .navbar-nav > .active > a,
.main-nav .navbar-nav > .active > a:hover,
.main-nav .navbar-nav > .active > a:focus {
  background-color: rgba(134, 134, 134, 0.1);
}

.nav-dropdown img {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

.nav-dropdown a {
  background-color: transparent !important;
}

.nav-dropdown .dropdown-menu {
  margin-top: 10px;
}

.nav-dropdown .dropdown-item {
  color: #6e778b;
  font-size: 16px;
}

.nav-divider {
  position: relative;
  width: 1px;
  background-color: #c6e7fe;
  margin-left: 20px;
  margin-right: 20px;
  top: -2px;
  height: 40px;
}

.company-logo img {
  width: 28px;
  height: 28px;
}

.menu-bar {
  margin: auto;
}

.nav-action {
  padding-left: 10px;
  padding-right: 10px;
}

.profile-links-dropdown .nav-link {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.notification-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.notification-list > li {
  display: block;
  border-left: 4px solid transparent;
  border-bottom: 1px solid #f2f2f2;
  padding: 10px;
  &:hover {
    border-left: 4px solid $blue-color;
  }
}

.notification-list > li:last-child {
  border-bottom: 0;
}

.notification-item {
  overflow: hidden;
}

.notification-icon,
.notification-msg {
  display: table-cell;
  overflow: hidden;
  vertical-align: top;
}

.notification-icon {
  width: 40px;
  height: 40px;
}

.notification-icon img {
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

.notification-msg {
  padding-left: 10px;
}

.notification-msg h6 {
  margin-top: 0;
  margin-bottom: 0;
  color: #333;
  font-weight: 600;
  font-size: 1em;
}

.notification-msg time {
  color: #999;
  font-size: 0.8em;
}

.notification-dropdown {
  min-width: 350px;
  padding: 0;
}

.notification-wraper {
  max-height: 360px;
  overflow-y: auto;
}

.notification-wraper::-webkit-scrollbar {
  width: 3px;
  background-color: #f2f2f2;
  border-radius: 8px;
}

.notification-wraper::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0px 0px 9px #f2f2f2;
  -moz-box-shadow: inset 0px 0px 9px #f2f2f2;
  box-shadow: inset 0px 0px 9px #f2f2f2;
  background-color: #f2f2f2;
}

.notification-wraper::-webkit-scrollbar-thumb {
  background-color: $primary-color;
  border-radius: 8px;
}

.dropdown-arrow::after,
.dropdown-arrow::before {
  display: inline-block;
  position: absolute;
  content: "";
}

.dropdown-arrow::before {
  top: -7px;
  right: 24px;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom-color: $border-grey;
}

.dropdown-arrow::after {
  top: -6px;
  right: 25px;
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

/*----signup-----*/
.category-checkbox {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  padding-left: 30px;
  cursor: pointer;
  min-width: 140px;
}

.category-checkbox input {
  position: absolute;
  z-index: -2;
}

.category-checkbox i {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid $border-grey;
  pointer-events: none;
}

.category-checkbox i::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  background-color: $primary-color;
  border-radius: 50%;
  opacity: 0;
}

.category-checkbox input:checked ~ i {
  border-color: $primary-color;
}

.category-checkbox input:checked ~ i::before {
  opacity: 1;
}

.auth-heading {
  margin: 20px 0 30px;
  font-size: 1.6em;
  text-align: center;
}

.me {
  padding: 20px;
  margin: 20px;
}

.auth-wraper {
  background-image: linear-gradient(121deg, #7471fe, #3bb6fe);
  height: 100%;
  padding: 50px 0;
  min-height: 100vh;
}

.auth-box {
  max-width: 440px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.25);
}

@media (min-width: 991px) {
  .auth-box {
    padding: 20px 40px 40px;
  }
}

.auth-box .form-group label {
  color: #9ba5b5;
  font-size: 13px;
}

.logo-head {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  color: $primary-color;
}

.logo-head img {
  height: 60px;
  width: auto;
}

.forgot-link {
  text-align: center;
}

.forgot-link a {
  color: #3857d4;
  font-weight: 500;
}

.password-input {
  margin-bottom: 30px;
}

.password-input .input-group-addon {
  width: 45px;
  padding-left: 0.8rem;
}

.error-placement {
  padding-left: 38px;
  background-color: #fff2f2;
  border: solid 1px $border-grey;
  color: #e82e2e !important;
  border-radius: 4px;
}

.error-placement i {
  position: absolute;
  top: 15px;
  left: 14px;
}

/*---dashboard----*/
.sidebar {
  background-color: #fff;
  text-align: left;
  position: fixed;
  width: 110px;
  top: 60px;
  left: 0;
  bottom: 0;
  height: 100%;
  overflow-y: auto;
  transition: width 0.5s;
  box-shadow: 3px 0 20px -3px rgba(0, 0, 0, 0.14);
  z-index: 1; }

.sidebar-large {
  background-color: #fff;
  text-align: left;
  position: fixed;
  width: 240px;
  top: 60px;
  margin: 0 0 100px 0;
  left: 0;
  bottom: 0;
  height: 100%;
  overflow-y: auto;
  transition: width 0.5s;
  box-shadow: 3px 0 20px -3px rgba(0, 0, 0, 0.14);
  z-index: 1; 
}

.sidebar-menu-icon-last {
  text-align: end;
  cursor: pointer;
  margin-right: 5px;
}

.sidebar-menu-icon-last:hover {
  color: #4632da;
  cursor: pointer;
  margin-right: 5px;
}

.sidebar-menu-icon-middle {
  text-align: center;
  cursor: pointer;
}

.sidebar-menu-icon-middle:hover {
  color: #4632da;
  cursor: pointer;
}

.sidebar-button-expand-container {
  transition: width 0.5s;
}

.sidebar-scroll-down-button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: center;
}

.sidebar-scroll-down-icon-inactive {
  font-weight: bold;
}

.sidebar-scroll-down-icon-active {
  font-weight: bold;
  transform: rotate(90deg);
}

.main-container {
  position: relative;
  min-height: 90vh;
  min-width: 80vw;
}

.main-body {
  position: relative;
  // padding-top: 20px;
}

.projects-show-container .main-body {
  padding-top: 70px;
}

.content-with-tab-nav {
  padding-left: 200px;
}

.content-wraper {
  padding: 20px;
}

.content-wraper-sm {
  // padding: 0 20px 20px 20px;
  // max-width: 1420px;
  // margin: 0 auto;
  // min-width: 86vw;
}

.top-content-wraper {
  padding-bottom: 0;
}

.dashboard-nav {
  list-style: none;
  padding: 10px 0 0;
  margin: 0;
}

.dashboard-nav > li {
  display: block;
}

.dashboard-nav > li > a {
  display: block;
  text-decoration: none;
  color: #666;
  padding: 10px 5px;
  text-align: center;
}

.dashboard-nav > li > a img {
  display: inline-block;
  width: 28px;
  height: 28px;
}

.dashboard-nav > li.active > a,
.dashboard-nav > li.active > a:hover,
.dashboard-nav > li.active > a:focus {
  background-color: #f6f8f6;
}

.nav-icon {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 28px;
  background-image: url("images/predera-icons-sprite.png");
  background-repeat: no-repeat;
}

.notebooks-icon {
  background-image: url("images/notebooks-icon.svg");
  background-size: 28px;
}

.menu-icon {
  background-position: -140px 0;
}

.active .menu-icon {
  background-position: -140px -28px;
}

.home-icon {
  background-position: -140px 0;
}

.active .home-icon {
  background-position: -140px -28px;
}

.projects-icon {
  background-position: 0 0;
}

.active .projects-icon {
  background-position: 0 -28px;
}

.models-icon {
  background-position: -28px 0;
}

.active .models-icon {
  background-position: -28px -28px;
}

.dashboard-icon {
  background-position: -56px 0;
}

.active .dashboard-icon {
  background-position: -56px -28px;
}

.experiment-icon {
  background-position: -112px 0;
}

.active .experiment-icon {
  background-position: -112px -28px;
}

.support-icon {
  background-position: -168px 0;
}

.settings-icon {
  background-position: -84px 0;
}

.nav-align-bottom {
  position: absolute;
  bottom: 70px;
  left: 0;
  width: 100%;
  height: auto;
}

/*----end----*/
/*---cards---*/
.card {
  // border: 1px solid $border-grey;
  border: none;
  // box-shadow: 0 1px 15px 1px rgba(69, 65, 78, 0.08);
  box-shadow: none;
  border-radius: 0;
  margin-bottom: 30px;
  min-height: 20vh;
}

.getting-started-content {
  min-height: 70vh;
}

.card-header {
  border-radius: 0;
  background-color: #fff;
  border: 0;
}

.card-header h4,
.bold-heading {
  font-size: 16px;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 600;
  text-transform: uppercase;
}

/*-----end----*/
/*-----Projects-----*/
.projects-wraper {
  max-width: 100vw;
  margin: 0 auto;
  min-width: 86vw;
  overflow-x: hidden;
}

.project-item {
  background-color: #fff;
  box-shadow: 0 2.5px 3px 0 rgba(0, 0, 0, 0.09);
  padding: 20px;
  border-top: 3px solid $primary-color;
  margin-bottom: 25px;
  height: 248px;
}

.project-status-info {
  margin-bottom: 15px;
}

.project-item hr {
  margin-top: 8px;
  margin-bottom: 8px;
}

.failed-model {
  border-top-color: red;
}

.project-title h4 {
  font-size: 1.2em;
  font-weight: 600;
}

.project-tech-list,
.project-members-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.project-tech-list > li,
.project-members-list > li {
  display: inline-block;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border: 1px solid $border-grey;
  border-radius: 50%;
  padding: 5px;
}

.project-tech-list > li img,
.project-members-list > li img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.avatar {
  margin-top: -3px;
  height: 39px !important;
  width: 39px !important;
  display: inline-flex !important;
  object-fit: contain !important;
  font-size: 12px !important;
  font-weight: bolder;
  letter-spacing: 1px;
  color: #5578eb !important;
  background-color: #eef1fd !important;
}

.project-members-list > li img {
  border-radius: 50%;
}

.p-info-right,
.p-info-left {
  display: inline-block;
  color: #999;
}

.p-info-right {
  float: right;
}

.project-list-head {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.project-list-head h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.4em;
}

.project-tools {
  margin-left: auto;
}

.projects-search {
  position: relative;
  width: 40%;
}

.projects-search .form-control {
  height: 38px;
  border-radius: 19px;
  padding-left: 20px;
  padding-right: 20px;
}

.projects-search .btn {
  position: absolute;
  top: 5px;
  right: 10px;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  padding: 0;
  font-size: 13px;
  line-height: 26px;
}

.models-list-wraper .main-body,
.experiments-list-wraper .main-body {
  padding-top: 30px;
}

/*-------models-----*/
.model-item-left,
.model-item-right {
  flex: 0 0 50%;
  max-width: 50%;
}

.model-item-left .row {
  width: 100%;
}

.models-list .model-list-item:last-child {
  border-bottom: 0;
}

.model-list-item {
  display: flex;
  padding: 15px;
}

.card-body.no-pad {
  padding: 0;
}

.model-item-left {
  position: relative;
  display: flex;
  align-items: center;
}

.model-item-title h6 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.38;
}

.model-item-status {
  display: inline-block;
  height: 30px;
  text-align: center;
  padding: 7px 15px;
  background-color: #f1f2f1;
  border-radius: 15px;
  font-size: 12px;
  font-weight: 600;
  margin: 0;
  vertical-align: middle;
}

.model-item-status.status-success {
  background-color: $light-green;
  color: $green-color;
}

.model-item-status.status-failed {
  background-color: $light-pink;
  color: $red-color;
}

.model-item-status.status-info {
  background-color: $light-blue;
  color: $blue-color;
}

.model-item-title small {
  color: #a0a0a0;
  font-size: 12px;
}

.model-item-title {
  width: 300px;
  display: inline-block;
}

.score-card {
  background-color: #fff;
  border: solid 0.5px $border-grey;
  height: 54px;
  border-radius: 27px;
  padding: 5px 20px;
}

.model-score-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.model-score-row .score-card {
  width: 32%;
  display: flex;
  align-items: center;
}

.score-card-label {
  font-size: 12px;
}

.score-card-value {
  font-size: 30px;
  font-weight: 300;
  text-align: right;
  margin-left: auto;
}

.score-card-value img {
  margin-left: 4px;
  vertical-align: middle;
}

.model-filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.model-filter-header .filter-btn {
  flex-basis: 150px;
}

.model-filter-header .form-control {
  max-width: 200px;
}

.filter-right-actions {
  flex: 0 0 26%;
  max-width: 400px;
}

.model-details-card {
  box-shadow: 0 3px 6px 2px rgba(6, 6, 6, 0.4);
}

.model-details-card-body {
  padding: 0 10px;
}

.model-details-card .model-list-item {
  border-bottom: 0;
}

.performance-details {
  padding: 0 15px;
}

.performance-item {
  margin-bottom: 15px;
}

.performance-details .p-m-item {
  padding: 0;
}

.performance-item label {
  font-weight: 400;
  font-size: 12px;
  color: #7f7f7f;
}

.performance-item-content {
  color: #000;
  font-size: 14px;
}

.panel {
  display: block;
  position: relative;
  margin-bottom: 20px;
  background-color: #fff;
}

.panel-body {
  padding: 1.25rem;
}

.panel-header::after,
.panel-header::before,
.panel-footer::after,
.panel-footer::before {
  content: "";
  display: block;
}

.panel-header::after,
.panel-footer::after {
  clear: both;
}

.panel-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.panel-title {
  display: inline-block;
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 0;
}

.panel-footer {
  padding: 0.75rem 1.25rem;
}

.model-header {
  margin-bottom: 20px;
}

.model-header h1 {
  display: inline-block;
  font-size: 1.8em;
  margin-top: 0;
  margin-bottom: 0;
}

.project-select {
  float: right;
  width: 240px;
}

.model-header .model-tools {
  float: right;
  width: 240px;
}

.model-title-info {
  float: left;
}

.model-actions {
  float: right;
}

.model-status {
  display: inline-block;
}

.version-drop {
  display: inline-block;
}

.version-drop label {
  display: inline-block;
  margin-bottom: 0;
  margin-right: 10px;
}

.version-drop .version-select {
  display: inline-block;
  width: 80px;
  height: 30px;
  padding: 8px 12px;
}

.model-status {
  background-color: $primary-color;
  color: #fff;
  padding: 2px 12px;
  font-size: 80%;
  border-radius: 24px;
  margin-right: 20px;
}

.model-title-info h4 {
  font-size: 1.3em;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}

.model-title-info {
  position: relative;
  padding-left: 60px;
}

.model-title-info p {
  font-size: 0.9em;
  color: #666;
  margin-bottom: 0;
}

.model-title-info figure {
  position: absolute;
  top: -2px;
  left: 0;
  width: 50px;
  height: 50px;
  padding: 6px;
  border-radius: 50%;
  background-color: #f6f8f6;
  border: 1px solid $border-grey;
}

.model-title-info figure img {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 50%;
}

.model-item .panel-footer {
  background-color: #e6faf9;
  box-shadow: 0 2px 2px #ddd;
}

.model-languages {
  float: right;
}

.model-languages ul li {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  padding: 5px;
  margin-right: 10px;
}

.model-languages img {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.model-languages ul {
  margin-bottom: 0;
}

.model-created-at {
  float: left;
  line-height: 40px;
  color: #777;
}

.empty-items-box {
  text-align: center;
  padding: 10%;
}

.empty-items-box h4 {
  font-size: 1.4em;
  color: #707070;
}

.progress-bar-item p {
  margin-bottom: 5px;
}

.progress-bar-item .form-group {
  margin-bottom: 10px;
}

.progress-bar-item .progress-percentage {
  float: right;
}

.header-with-search {
  display: flex;
  align-items: center;
}

.header-with-search h4 {
  width: 240px;
}

.pagination-counters {
  margin-right: 10px;
}

.card-search {
  width: 40%;
}

.card-search .form-control {
  height: 32px;
  padding: 4px 14px;
  border-radius: 16px;
  font-size: 12px;
}

.header-with-search .card-tools {
  margin-left: auto;
}

.modal-filter-form {
  width: 100%;
}

@media (min-width: 768px) {
  .modal-filter-form {
    width: 600px;
  }
}

.inline-input {
  display: flex;
  align-items: center;
}

.inline-input label {
  width: 150px;
  min-width: 150px;
}

.filter-form-actions {
  display: flex;
  justify-content: space-between;
}

.filter-form-actions .btn {
  width: 48%;
}

.input-sm .form-control {
  height: 32px;
}

.input-range-slider {
  flex: 1;
}

.applied-filters {
  margin-right: auto;
  max-width: 750px;
}

.filter-items-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter-tag-item {
  position: relative;
  display: inline-block;
  height: 30px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #ffffff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  color: #7f7f7f;
  font-size: 12px;
  text-align: center;
  border-radius: 15px;
  padding: 6px 30px 5px 15px;
}

.filter-tag-item i {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 6px;
  right: 10px;
}

.prediction-o-item {
  display: flex;
}

.prediction-o-item label {
  width: 85px;
}

.prediction-more-info-link a {
  color: $green-color;
  display: inline-block;
}

.prediction-o-item .__react_component_tooltip {
  padding: 0;
  border: 1px solid $border-grey;
}

.prediction-o-item .__react_component_tooltip.type-light.place-top:after {
  border-top-color: $border-grey;
}

.prediction-o-item .__react_component_tooltip.type-light.place-bottom:after {
  border-bottom-color: $border-grey;
}

/*----model-details----*/
.m-details-card {
  background-color: #fff;
  padding: 1.5rem 0;
  // box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  box-shadow: none;
  // min-height: 85vh;
}

.m-details-card-head {
  display: flex;
  padding: 0rem 1.5rem;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.m-title-info {
  width: 250px;
}

.m-tech-stack {
  margin-left: auto;
}

.back-action {
  width: 50px;
}

.back-action a {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  background-color: #f1f2f1;
  display: block;
  text-align: center;
}

.back-action a img {
  width: 16px;
  height: 16px;
}

.m-title-info h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 16px;
}

.m-details-body {
  margin-bottom: 10px;
}

.m-info-table {
  padding-left: 12px;
  padding-right: 50px;
  margin-bottom: 15px;
}

.inline-tabs.pad-50 {
  padding-left: 20px;
  padding-right: 50px;
}

.tabs-blue > li {
  display: inline-block;
  background-color: #fff;
  color: #7f7f7f;
  text-transform: uppercase;
  font-size: 12px;
  height: 30px;
  cursor: pointer;
  border-radius: 15px;
  padding: 7px 20px;
}

.tabs-blue .react-tabs__tab--selected {
  background-color: $primary-color;
  color: #fff;
  font-weight: 600;
}

.tab-navigation {
  position: fixed;
  top: 118px;
  left: 0;
  width: 200px;
  height: 100%;
  overflow-y: auto;
  background-color: #fff;
  border-right: 1px solid #ddd;
}

.tab-list {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}

.tab-list > li {
  display: block;
  position: relative;
  padding: 0;
  white-space: nowrap;
  padding: 15px 20px;
  color: #b6b6b6;
  text-decoration: none;
  text-align: left;
  cursor: pointer;
  border-right: 3px solid transparent;
  z-index: 999;
}

.tab-list > .react-tabs__tab--selected {
  border-right: 3px solid $primary-color;
  background-color: #f9fbfd;
  color: $primary-color;
}

.content-with-tab-nav .content-wraper {
  padding: 0 20px;
}

.model-details-wraper {
  margin-top: 20px;
}

.model-data-list {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.model-data-list > li {
  display: inline-block;
  width: 33.3333%;
  margin-bottom: 20px;
  padding: 10px;
  vertical-align: top;
}

.data-label {
  color: #b2b2b2;
  margin-bottom: 2px;
  font-size: 0.9em;
}

.data-text {
  margin-bottom: 0;
}

.hyperparameters-content {
  padding: 20px 50px;
  max-width: 700px;
}

.significance-content,
.performance-matrix-content,
.roc-curve-content,
.residual-plot-content {
  padding: 0rem 5rem 0 2rem;
}

.data-section {
  padding-left: 50px;
  padding-right: 50px;
}

.progress-bar-blue {
  background-color: $primary-color;
}

.progress-bar-green {
  background-color: $green-color;
}

.progress-bar-yellow {
  background-color: $yellow-color;
}

.progress-bar-sky-blue {
  background-color: $sky-blue-color;
}

.progress-bar-rose {
  background-color: $rose-color;
}

.p-m-item {
  margin-bottom: 20px;
  padding: 0 15px;
}

.p-m-item .progress {
  height: 4px;
}

.p-m-item label {
  color: #7f7f7f;
  font-size: 12px;
  font-weight: 400;
}

.p-m-item-value {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  color: #000;
}

.action-row {
  display: flex;
  margin-bottom: 20px;
}

.action-left-col {
  margin-right: 15px;
}

.action-right-col {
  margin-left: auto;
}

.right-select-actions .form-control {
  width: 150px;
  margin: 0 10px;
}

.right-col-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.data-sec-head {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.data-sec-head h4 {
  margin: 0;
  font-size: 30px;
  font-weight: 300;
}

.data-sec-right {
  margin-left: auto;
}

.data-sec-right .select-field {
  min-width: 150px;
}

.health-score-counter span {
  font-size: 30px;
  font-weight: 300;
  color: $red-color;
  margin-right: 5px;
}

.health-score-counter img {
  display: inline-block;
  vertical-align: baseline;
}

.insight-points span {
  font-size: 12px;
  margin-right: 10px;
}

.insight-points strong {
  font-size: 30px;
  font-weight: 300;
  color: #0d0d0d;
}

.counter-with-icon {
  margin-left: 10px;
  float: right;
}

.counter-with-icon img {
  display: inline-block;
  margin-right: 8px;
  width: 20px;
  height: 20px;
}

.model-list-slider {
  position: relative;
}

.model-list-slider .slick-prev,
.model-list-slider .slick-next {
  top: -56px;
  right: 30px;
  width: 26px;
  height: 26px;
  background: #ddd;
  border: 1px solid $border-grey;
  border-radius: 50%;
  left: auto;
  background-image: none;
  transform: none;
}

.model-list-slider .slick-prev::before,
.model-list-slider .slick-next::before {
  font-size: 26px;
}

.model-list-slider .slick-next {
  right: -2px;
}

.model-list-slider .slick-prev::before,
.model-list-slider .slick-next::before {
  color: #f6f8f6;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  background: $green-color !important;
}

.fixed-content-box {
  height: 167px;
  overflow-y: auto;
}

.fixed-content-box::-webkit-scrollbar {
  width: 3px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.fixed-content-box::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0px 0px 6px #f2f2f2;
  -moz-box-shadow: inset 0px 0px 6px #f2f2f2;
  box-shadow: inset 0px 0px 6px #f2f2f2;
  background-color: #f2f2f2;
}

.fixed-content-box::-webkit-scrollbar-thumb {
  background-color: $primary-color;
  border-radius: 5px;
}

.input-group-field .select-field {
  width: 100px;
  margin-right: 10px;
  font-weight: 600;
}

/*----profile------*/
.profile-form {
  margin: 40px 0;
}

.profile-card {
  background-color: #fff;
  padding: 20px;
  border: 1px solid $border-grey;
  border-radius: 4px;
}

.profile-avatar {
  display: block;
  width: 150px;
  height: 150px;
  margin: 0 auto;
}

.profile-avatar span {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 3em;
  color: $primary-color;
  background: #eef1fd;
}

.profile-form-box {
  background-color: #fff;
  border: 1px solid $border-grey;
  border-radius: 4px;
}

.profile-form-box-body {
  padding: 20px;
}

.profile-user-name {
  text-align: center;
  margin-top: 10px;
}

.profile-user-name p {
  font-size: 1.4em;
  font-weight: bold;
}

.profile-form-box-head {
  padding: 15px 20px;
  border-bottom: 1px solid #f1f1f1;
}

.profile-form-box-head h4 {
  margin: 0;
  font-size: 1.2em;
}

/*--------company-----*/
.company-card {
  background-color: #fff;
  margin-bottom: 20px;
}

.company-card-header {
  padding: 14px 10px;
  border-bottom: 1px solid #ddd;
}

.company-card-body {
  padding: 14px;
}

.company-card-body .table th,
.company-card-body .table td {
  border-top: 0;
}

.company-card-header h4 {
  margin: 0;
  font-size: 1.4em;
  display: inline-block;
  padding-top: 5px;
}

.company-card-header .btn {
  float: right;
  margin-top: 0;
}

.company-header {
  padding: 20px;
  width: 200px;
  float: left;
}

.company-details-block {
  overflow: hidden;
}

.company-title {
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
  margin-top: 14px;
}

.company-logo-img {
  display: block;
  width: 120px;
  height: 120px;
  padding: 24px;
  background-color: #fcfcfc;
  border: 1px solid $border-grey;
  text-align: center;
  margin: 0 auto;
}

.company-logo-img img {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.company-field-wraper {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 #ddd;
}

.company-tabs ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #ddd;
}

.company-tabs ul > li {
  display: inline-block;
}

.company-tabs ul > li > a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  color: #666;
  border-bottom: 2px solid transparent;
}

.company-tabs ul > .active > a {
  background-color: #fff;
  border-bottom: 3px solid $primary-color;
}

.company-fields-body {
  padding: 10px;
}

.hyper-parameters .table-responsive {
  max-height: 720px;
}

/*---home-page-----*/
.counters-wraper {
  padding-top: 90px;
}

.home-counters {
  margin-bottom: 30px;
}

.counter-box {
  background-color: #fff;
  box-shadow: 0 0 2px #ddd;
  padding: 15px;
  transition: box-shadow 0.01ms;
  display: flex;
}

.counter-box-img {
  width: 80px;
}

.counter-box-msg {
  position: relative;
  flex-grow: 1;
}

.couter-box-link {
  text-decoration: none;
  color: inherit;
  outline: 0;
}

.couter-box-link a {
  text-decoration: none;
  color: inherit;
  outline: 0;
}

.couter-box-link:hover,
.couter-box-link:focus {
  text-decoration: none;
  outline: 0;
}

.couter-box-link:hover .counter-box {
  box-shadow: 0 4px 15px #ddd;
}

.counter-box-msg h4 {
  font-size: 16px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 5px;
  color: #222222;
}

.counter-box-msg p {
  color: #666;
  font-size: 13px;
  margin-bottom: 0;
  text-align: center;
}

.counter-wraper {
  width: auto;
  margin-left: auto;
  text-align: right;
}

.counter-wraper p {
  margin-bottom: 6px;
}

.counter-value {
  font-size: 40px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
  z-index: 1;
  color: $black-color;
  line-height: 1;
}

.tech-stack {
  display: flex;
  justify-content: space-between;
}

.tech-stack-item {
  // width: 31%;
  width: 100px;
}

.stack-name {
  font-size: 10px;
  color: #7f7f7f;
  margin-bottom: 2px;
}

.stack-bar {
  display: block;
  flex: 1;
  height: 2px;
  background-color: #e82e2e;
}

.counter-card-row {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}

.data-counter-card {
  display: flex;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  width: 32%;
  height: 54px;
  border-radius: 27px;
  padding: 5px 20px;
  align-items: center;
  background-color: #f1f2f1;
}

.counter-card-label {
  font-size: 12px;
  font-weight: 400;
  display: block;
  color: #000;
}

.counter-card-value {
  font-family: "Open Sans";
  display: block;
  text-align: right;
  font-weight: 300;
  font-size: 20px;
  margin-left: auto;
}

.counter-card-value img {
  vertical-align: middle;
}

.active-counter-card {
  background-color: #fff;
}

.active-counter-card .counter-card-value {
  color: $red-color;
}

.active-counter-card .counter-card-label {
  font-weight: 600;
}

.model-overview-card {
  position: relative;
}

.model-overview-card .card-header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.model-overview-card .tabs-rounded {
  position: absolute;
  top: 12px;
  left: 240px;
  width: 50%;
}

.recent-model-counters {
  margin-top: 16px;
}

.stack-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.stack-list > li {
  display: inline-block;
  margin-right: 8px;
}

.stack-list > li img {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.assigned-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.assigned-list > li {
  display: inline-block;
}

.assigned-list > li img {
  border-radius: 50%;
  margin-right: 8px;
}

.table {
  margin: 0;
}

.model-name-text {
  color: #2b49b2;
}

.model-overview-tabs {
  padding-right: 30px;
}

.active-table-tab {
  position: relative;
  background-color: #fff;
}

.active-table-tab > td:first-child {
  border-top-left-radius: 33px;
  border-bottom-left-radius: 33px;
}

.active-table-tab > td {
  background-color: #e8ecfb;
  overflow: hidden;
}

.active-table-tab::after {
  content: "";
  position: absolute;
  right: -43px;
  width: 0;
  height: 0;
  border-top: 33px solid transparent;
  border-bottom: 33px solid transparent;
  border-left: 60px solid #e8ecfb;
}

.table-tab-content {
  padding-left: 40px;
}

.table-tabs > tr > td {
  font-size: 14px;
}

.table-tabs > tr > td a {
  color: $primary-color;
}

.tab-middle td {
  vertical-align: middle;
}

.data-table thead > tr > td {
  font-weight: 400;
  font-size: 12px;
  color: #7f7f7f;
}

.text-gray {
  color: #a0a0a0;
}

.text-dark-gray {
  color: rgba(0, 0, 0, 0.54);
}

.text-bold {
  font-weight: bold;
}

.tab-list-rounded,
.tab-list-inline {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tab-list-rounded > li {
  display: inline-block;
  padding: 0 14px;
  height: 34px;
  line-height: 34px;
  border-radius: 17px;
  cursor: pointer;
  color: #777;
}

.tab-list-rounded > .react-tabs__tab--selected {
  background-color: $primary-color;
  color: #fff;
}

.tab-list-inline > li {
  display: inline-block;
  padding: 10px 18px;
  color: #777;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  margin-bottom: -1px;
}

.tab-list-inline {
  border-bottom: 1px solid #ddd;
}

.tab-list-inline > .react-tabs__tab--selected {
  border-bottom-color: $primary-color;
  color: $primary-color;
}

.tabs-rounded {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tabs-rounded > li {
  display: inline-block;
  background-color: #fff;
  height: 34px;
  line-height: 34px;
  text-align: center;
  border-radius: 17px;
  font-size: 12px;
  color: #7f7f7f;
  margin-right: 20px;
  padding-left: 15px;
  cursor: pointer;
}

.tabs-rounded .react-tabs__tab--selected {
  font-weight: 600;
  background-color: $light-green;
  color: $green-color;
}

.failed-models-tab.react-tabs__tab--selected {
  background-color: $light-pink;
  color: $red-color;
}

.tab-counter {
  display: inline-block;
  width: 34px;
  height: 34px;
  border: 2px solid $border-grey;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: -1px;
}

.user-actions a {
  display: inline-block;
  background-color: #fff;
  width: 34px;
  height: 34px;
  line-height: 34px;
  border-radius: 50%;
  text-align: center;
  color: #575962;
  margin-right: 10px;
}

.user-edit-btn {
  margin-right: 10 px;
}

.user-actions .user-edit-btn:hover,
.user-actions .user-edit-btn:focus {
  background-color: #3857d4;
  color: #fff;
}

.user-actions .user-delete-btn:hover,
.user-actions .user-delete-btn:focus {
  background-color: #e82e2e;
  color: #fff;
}

.page-breadcrumb {
  padding: none;
}

.labels {
  font-weight: 400;
  font-size: 12px;
  color: #7f7f7f;
}

.page-breadcrumb ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.page-breadcrumb ul > li {
  display: inline-block;
  position: relative;
  margin-right: 10px;
  margin-left: 10px;
}

.page-breadcrumb ul > li > a {
  color: $primary-color;
  font-size: 18px;
}

.page-breadcrumb ul > li::after {
  content: "/";
  position: absolute;
  top: 0;
  line-height: 30px;
  font-style: normal;
  right: -12px;
  font-size: 20px;
  color: #666;
}

.page-breadcrumb ul > li:last-child::after {
  content: none;
}

.page-breadcrumb ul > .active {
  color: #999;
}

.project-tabs-wraper {
  background-color: #ffff;
}

.project-tab-nav ul {
  list-style: none;
  padding: 0 20px;
  margin: 0;
}

.project-tab-nav ul > li {
  display: inline-block;
  padding: 8px 25px;
  margin-right: 10px;
  border-bottom: 3px solid transparent;
  cursor: pointer;
}

.project-tabs-wraper .content-wraper-sm {
  padding: 0;
}

.project-tab-nav ul > .react-tabs__tab--selected {
  color: $primary-color;
  font-weight: 500;
  border-bottom-color: $primary-color;
}

.model-card {
  margin-bottom: 20px;
}

.project-team-wraper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 12px;
}

.project-team-header {
  margin-bottom: 10px;
}

.project-team-header h4 {
  display: inline-block;
  margin: 0;
  font-size: 1.4em;
  padding: 10px 0;
}

.project-team-header button {
  float: right;
}

.project-team-list {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #fff;
}

.project-team-list > li {
  display: block;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.project-team-list > li::after,
.project-team-list > li::before {
  content: "";
  display: table;
}

.project-team-list > li::after {
  clear: both;
}

.team-user-left {
  position: relative;
  width: 300px;
  float: left;
  padding-left: 55px;
}

.team-user-actions {
  float: right;
  margin-top: 6px;
}

.team-user-actions .btn-primary {
  margin-right: 10px;
}

.team-user-left figure {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #f6f8f6;
  border-radius: 50%;
}

.team-user-left figure img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team-user-left p {
  margin-bottom: 0;
  font-size: 1.2em;
  font-weight: 500;
}

.team-user-left time {
  font-size: 14px;
  color: #999;
}

.team-user-actions .btn {
  width: 32px;
  height: 32px;
  line-height: 30px;
  padding: 0;
}

.user-role {
  display: block;
  float: left;
  margin-top: 10px;
  font-size: 11px;
  height: 24px;
  line-height: 24px;
  border-radius: 12px;
  padding: 0 8px;
}

.role-developer {
  background-color: #3857d4;
  color: #fff;
}

.role-admin {
  background-color: #e82e2e;
  color: #fff;
}

.model-details-header {
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  z-index: 1;
}

.modeldetails-table tbody > tr > td,
.modeldetails-table thead > tr > td {
  width: 14%;
  vertical-align: middle;
}

.main-container.bg-white {
  background-color: #fff;
}

.model-details-header {
  background-color: #fcfcfc;
  padding: 10px 20px;
}

.model-details-header .page-breadcrumb {
  display: inline-block;
  max-width: 100%;
  padding: 0;
}

.main-body.content-with-tab-nav {
  padding-top: 117px;
}

.model-header-actions {
  float: right;
}

.model-header-actions .btn {
  margin-right: 10px;
}

.table-primary-head {
  background-color: #f8f8f6;
}

.tab-body {
  padding: 10px 0;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.inline-tabs {
  list-style: none;
  padding: 10;
  margin: 0 0 20px;
}

.tabs-gray > li,
.filter-tabs > li {
  display: inline-block;
  background-color: #fff;
  color: #7f7f7f;
  text-transform: uppercase;
  font-size: 12px;
  height: 24px;
  cursor: pointer;
  border-radius: 12px;
  padding: 4px 12px;
}

.filter-tabs > li.active,
.tabs-gray > li.react-tabs__tab--selected {
  background-color: #f1f2f1;
  color: #000;
  font-weight: 600;
}

.message {
  margin: 10px 0;
  font-size: 10px;
}

.mr-0 {
  margin: 0 !important;
}

.m-sm {
  margin: 5px;
}

.mr-20 {
  margin-right: 20px;
}

.ml-sm {
  margin-left: 5px;
}

.ml {
  margin-left: 10px;
}

.margin-top-30 {
  margin-top: 30px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-sm {
  margin-bottom: 5px;
}

.mlr-30 {
  margin: 0 30px;
}

.border-top {
  border: 0px solid $border-grey;
  border-top-width: 1px;
}

.step-type {
  display: inline-block;
  margin: 5px;
}

.inline-flex {
  display: inline-flex;
}

.heading-h4 {
  color: #000;
  margin: 20px 0;
}

.tabs-md > li {
  height: 30px;
  padding: 7px 20px;
  font-size: 12px;
  border-radius: 15px;
}

.card-tools {
  float: right;
}

.display-none {
  display: none;
}

.display-block {
  display: block !important;
}

.fixed-height-table {
  height: 400px;
  overflow-y: auto;
  overflow-x: auto;
}

.m-details-card-body {
  padding: 10px 20px;
}

.btn-grey {
  background: #efefef;
  color: grey;
}

.add-job-btn {
  margin: -24px 0 6px 0;
  clear: both;
  height: 38px;
}

.no-data-msg {
  display: flex;
  align-items: center;
  height: 400px;
  justify-content: center;
  font-size: 90%;
}

.float-right {
  float: right;
}

.action-bar,
.group-section {
  padding: 0 10px;
}

.w-bg {
  background: #fff;
}

.bd {
  border: 1px solid $border-grey;
}

.bd-r {
  border-top-width: 0;
  border-right-width: 1px;
  border-bottom-width: 0;
  border-left-width: 0;
}

.h-500 {
  height: 500px;
}

.fw {
  width: 100%;
}

.wd100 {
  width: 100px;
}

.wd150 {
  width: 150px;
}

.f13 {
  font-size: 13px !important;
}

.wd145 {
  width: 145px;
}

.wd200 {
  width: 200px;
}

.wd250 {
  width: 250px;
}

.wd310 {
  width: 310px;
}

.wd600 {
  width: 250px;
}

.h-auto {
  height: auto;
}

.h-auto-imp {
  height: auto !important;
}

.pd-xs {
  padding: 2px;
}

.pt-xs {
  padding-top: 2px;
  padding-bottom: 2px;
}

.pd-b {
  padding-bottom: 20px;
}

.m-xs {
  margin: 3px;
}

.mt {
  margin-top: 0px;
}

.mt-lg {
  margin-top: 15px;
}

.mt-sm {
  margin-top: 5px;
}

.mlr {
  margin-left: 10px;
  margin-right: 10px;
}

.plusIcon {
  display: inline-block;
  padding: 4px;
  font-weight: bold;
  color: #3d69f9;
  cursor: default;
}

.child-node {
  cursor: pointer;
  display: none;
  font-weight: normal;
  font-size: 14px;
  color: #424242;
  margin: 0 0 0 10px;
  padding: 5px 0 5px 20px;
  border: 0px solid #17a2b8;
  border-left-width: 1px;

  &:hover {
    background: #fbffff;
  }
}

.parent-node {
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  margin: 5px;
  padding-left: 5px;
}

.block {
  background: #f9f9f9;
  padding: 10px 0;
}

.of-auto {
  overflow: auto;
}

.inline-block {
  display: inline-block;
}

.activeTab {
  background: #484848;
  color: #fff;
}

.m-details-card-body {
  padding: 10px 20px;
}

.btn-grey {
  background: #efefef;
  color: grey;
}

.add-job-btn {
  margin: -24px 0 6px 0;
  clear: both;
  height: 38px;
}

.no-data-msg {
  display: flex;
  align-items: center;
  height: 400px;
  justify-content: center;
  font-size: 90%;
}

.float-right {
  float: right;
}

.action-bar,
.group-section {
  padding: 0 10px;
}

.w-bg {
  background: #fff;
}

.bd {
  border: 1px solid #efefef;
}

.bd-r {
  border-top-width: 0;
  border-right-width: 1px;
  border-bottom-width: 0;
  border-left-width: 0;
}

.h-500 {
  height: 500px;
}

.wd100 {
  width: 100px;
}

.h500 {
  min-height: 250px;
  max-height: 500px;
}

.h-min-370 {
  min-height: 370px;
}

.h38V {
  min-height: 38vh;
  max-height: 38vh;
}

pre {
  background: $light-grey;
  font-family: "Courier New", Courier, monospace;
  font-size: 13px;
  padding: 20px;
}

.Select-placeholder {
  font-size: 12px;
  color: #7f7f7f !important;
}

.mb {
  margin-bottom: 10px;
}

.mb-lg {
  margin-bottom: 3em !important;
}

.mt-xl {
  margin-top: 35px;
}

.mt-xxl {
  margin-top: 0px;
}

.mwd150 {
  min-width: 150px;
}

.mxwd250 {
  max-width: 250px !important;
}

.wd150 {
  width: 150px;
}

.f13 {
  font-size: 13px !important;
}

.wd145 {
  width: 145px;
}

.wd200 {
  width: 200px;
}

.wd250 {
  width: 250px;
}

.wd310 {
  width: 310px;
}

.wd600 {
  width: 250px;
}

.wd-half {
  width: 50%;
}

.h-auto {
  height: auto;
}

.h-half {
  height: 50vh;
}

.h-fourth {
  height: 25vh;
}

.h180 {
  height: 180px;
}

.pd-0 {
  padding: 0 !important;
}

.pt-xs {
  padding-top: 2px;
  padding-bottom: 2px;
}

.pt-sm {
  padding-top: 5px;
  padding-bottom: 5px;
}

.pd-tb {
  padding-top: 15px;
  padding-bottom: 15px;
}

.pd-tb-lg {
  padding-top: 40px;
  padding-bottom: 40px;
}

.pd-sm {
  padding: 5px !important;
}

.pd {
  padding: 10px;
}

.pd-lg {
  padding: 20px;
}

.pd-lr-lg {
  padding-left: 20px;
  padding-right: 20px;
}

.pd-lr {
  padding-left: 10px;
  padding-right: 10px;
}

.pd-lr-sm {
  padding-left: 5px;
  padding-right: 5px;
}

.mt-0 {
  margin-top: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.m-xs {
  margin: 3px;
}

.mt {
  margin-top: 0px;
}

.mt-sm {
  margin-top: 5px;
}

.mlr {
  margin-left: 10px;
  margin-right: 10px;
}

.mlr-lg {
  margin-right: 30px;
  margin-left: 30px;
}

.mlr-0 {
  margin-left: 0;
  margin-right: 0;
}

.mr-sm {
  margin-right: 5px;
}

.mr {
  margin-right: 10px;
}

.mr-lg {
  margin-right: 15px;
}

.plusIcon {
  display: inline-block;
  padding: 4px;
  font-weight: bold;
  color: #3d69f9;
  cursor: default;
}

.child-node {
  cursor: pointer;
  display: none;
  font-weight: normal;
  font-size: 14px;
  color: #424242;
  margin: 0 0 0 10px;
  padding: 5px 0 5px 20px;
  border: 0px solid #17a2b8;
  border-left-width: 1px;

  &:hover {
    background: #fbffff;
  }
}

.parent-node {
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  margin: 5px;
  padding-left: 5px;
}

.block {
  background: #f9f9f9;
  padding: 10px 0;
}

.of-auto {
  overflow: auto;
}

.activeBtn {
  background: #484848;
  color: #fff;
}

.no-decoration {
  text-decoration: none !important;
  color: inherit;
  outline: none;
}

.startTab {
  background: #bfbfcf;
  color: #fff;
  cursor: pointer;
  padding: 20px;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;

  &.active {
    background: $primary-color;
  }
}

.bg-grey {
  background: $light-grey;
}

.content-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.clickable,
.btn {
  cursor: pointer;
  user-select: none;

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.bgBlue {
  height: 100vh;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rbg(255, 255, 255, 0.4);
}

.loader {
  color: #4684ee;
  user-select: none;
  text-align: center;
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  font-size: 5vh;
  opacity: 0.8;
}

.loader span {
  display: inline-block;
  font-size: 10vh;
  animation: pulse 2s normal infinite linear;
}

.v-bottom {
  vertical-align: bottom;
}

.v-sub {
  vertical-align: sub;
}

.v-middle {
  vertical-align: middle;
}

@keyframes pulse {
  0% {
    transform: rotate3d(0, 0, 1, 0deg);
  }

  50% {
    transform: rotate3d(0, 0, 1, 180deg);
  }

  100% {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

.item-center {
  align-items: center;
  justify-content: center;
}

.f-12 {
  font-size: 12px !important;
}

.f-13 {
  font-size: 13px !important;
}

.f-14 {
  font-size: 14px !important;
}

.text-link {
  color: #007bff;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.blank-link {
  &:hover {
    text-decoration: underline;
  }
}

.side-menu {
  padding: 5px;

  &.active {
    background: #007bff1f;
  }
}

.help-box {
  &__ico {
    width: 180px;
    height: 180px;
    margin: 0 auto;
    background-size: 100%;
    opacity: 0.5;

    &--manual {
      background-image: url("./images/User-Manual-200.png");
    }

    &--email {
      background-image: url("./images/Message-200.png");
    }

    &--download {
      background-image: url("./images/Download-200.png");
    }
  }

  &__docker-logo {
    width: 23px;
    height: 23px;
    vertical-align: baseline;
  }

  h3 {
    margin: 40px 0 60px;
    font-size: 22px;
  }

  a {
    font-size: 18px;
    font-weight: bold;
  }

  &__link {
    display: block;
  }

  &__download {
    i {
      width: 30px;
      font-size: 24px;
    }
  }
}

.date-pick-inp {
  font-size: 14px;
  height: 31px;
  padding: 4px 5px 4px 10px;
  color: $grey-color;
}

.backdrop {
  height: 100vh;
  width: 100vw;
  display: block;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(255, 255, 255, 0);
  z-index: 9999;
}

.copy {
  font-family: monospace;
  display: inline-block;
  height: 30px;
  text-align: left;
  line-height: 20px;
  width: calc(100% - 32px);
  word-break: break-all;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 7px 15px;
  background-color: #f1f2f1;
  font-size: 12px;
  margin: 0;
  vertical-align: middle;
  max-width: 400px;
}

.copy-btn {
  position: absolute;
  top: 3px;
  right: 10px;
  color: #6f6f6f;

  &:hover {
    color: #222;
  }
}

.clip-text {
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tool {
  background: #000000bf;
  font-size: 12px;
  padding: 3px 10px;
  color: #fff;
  position: absolute;
  top: 3px;
  z-index: 1000;
}

.content-none::after {
  content: none;
}

.ellipsis-menu {
  color: #7d7d7d;
}

.relative {
  position: relative;
}

.eye {
  position: absolute;
  top: 1.2em;
  right: 25px;
}

.notebook-table {
  position: relative;
  border-collapse: collapse;
  white-space: nowrap;
  font-size: 13px;
  background-color: #fff;
  table-layout: auto;
  width: 100%;
  margin: 0em;
}

.notebook-table tr {
  position: relative;
  height: 48px;
  transition-duration: 0.28s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}

.notebook-table td {
  position: relative;
  height: 48px;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding: 20px 23px;
  box-sizing: border-box;
  vertical-align: middle;
  text-align: center;
  border-collapse: collapse;
  white-space: nowrap;
  font-size: 13px;
  font-family: "Helvetica", "Arial", sans-serif;
}

.notebook-table th {
  position: relative;
  vertical-align: bottom;
  text-overflow: ellipsis;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0;
  height: 48px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
  padding: 0 25px 8px 25px;
  box-sizing: border-box;
  font-family: "Helvetica", "Arial", sans-serif;
  text-align: center;
}

.notebook-table i {
  font-size: 20px;
}

.notebook-form-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 21px 15px 14px;
  //  background: #2296f3;
  // color: #fff;

  & .text-link {
    color: #fff;
  }
}

.btn-loader {
  display: inline-block;
  vertical-align: bottom;
}

.br-0 {
  border-radius: 0;
}

.insight-label {
  font-size: 15px;
  font-weight: bold;
  color: #0cb8fd;
  height: 30px;
  text-align: center;
  padding: 7px 15px;
  border-radius: 15px;

  & .fa {
    color: orange;
  }

  &:hover,
  &[aria-expanded="true"] {
    background: #f1f2f1;
  }
}

.insight-icon {
  color: #ffa500bd;
  font-size: 2em;
}

.rotate {
  animation: 5s linear rotation infinite;
}

.fl {
  text-align: left;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.step-select {
  padding: 0.75rem 0.55rem 0.75rem 2rem;
  min-width: 180px;
  margin: 5px 0;
  color: #b5afaf;
  font-weight: 700;
  font-size: 14px;
  border-radius: 4px;
  user-select: none;

  &[aria-selected="true"] {
    background: #eef1fd;
    color: #767fec;
  }

  &:hover {
    color: #767fec;
  }

  &.bordered-step {
    border: 1px solid #c1ccf1;
  }
}

.expansion {
  height: 45px;
  overflow: hidden;
}

.scrollable {
  min-height: calc(100vh - 120px);
  max-height: calc(100vh - 120px);
  overflow-y: auto;
}

.clear-float {
  clear: both;
}

.no-select {
  user-select: none;
}

.timeline-section {
  position: relative;
  display: flex;
  width: 100%;
  overflow: auto;
  height: calc(50vh - 120px);
}

svg:not(:root) {
  overflow: initial;
}

.svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.line-svg {
  stroke-width: 2px;
  stroke: rgb(0, 0, 0);
  &.blue-line {
    stroke-width: 3px;
    stroke: #399bc2;
  }
}

.form-step {
  min-height: 100px;
  width: 16.4em;
  padding: 5px;
  position: relative;
  background: floralwhite;
  border: 2px solid $blue-color;
  border-radius: 8px;
  margin: 5px auto;
  z-index: 1;
  outline: none;

  &[aria-selected="true"] {
    background: $blue-color;
    color: $white-color;
    & .status-icon-bg i {
      color: white !important;
    }
  }

  &:hover > .floating-btns {
    display: inline-block;
  }

  &.ml-flow {
    width: 50px;
    min-height: 50px;
    margin-top: 15px;
    border-radius: 50%;
  }
}

.deploy-step {
  min-height: 90px;
  width: 250px;
  padding: 5px;
  position: absolute;
  background: floralwhite;
  border: 2px solid $blue-color;
  border-radius: 8px;
  margin: 5px auto;
  z-index: 1;
  outline: none;

  &[aria-selected="true"] {
    background: $blue-color;
    color: $white-color;
  }

  &:hover > .floating-btns {
    display: inline-block;
  }
}

.floating-btns {
  position: absolute;
  display: none;
  right: 8px;
  z-index: 2;
  top: -10px;
  font-size: 12px;
  width: 42px;
  height: 20px;
}

.status-icon {
  position: absolute;
  right: 2px;
  z-index: 2;
  top: 0px;
  font-size: 18px;
  width: 20px;
  height: 20px;
  & .status-icon-bg {
    // display: inline-flex;
    // background: white;
    // border-radius: 50%;
    // box-shadow: 0px -1px 3px 2px #fff;
  }
}

.step-close {
  background: $blue-color;
  color: $white-color;
  height: 18px;
  width: 18px;
  cursor: pointer;
  padding: 3px;
  margin: 1px;
  &:hover {
    background: $red-color;
    // color: $red-color;
  }

  &.duplicate:hover {
    background-color: $green-color;
  }
}

.overlay {
  position: absolute;
  background: #fff;
  width: 100%;
  top: -5px;
  left: 0;
  overflow-y: auto;
  z-index: 1;
}

.form-action-btns {
  position: fixed;
  bottom: 31px;
  right: 20px;
  z-index: 1;
}

.overlay-heading {
  position: relative;
  width: 100%;
  background: #fff;
  z-index: 7;
}

.transparent-bg {
  background: transparent;
}

.transparent-text {
  color: transparent;
}

.toolbar-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.toolbar-menu-item {
  display: block;
  width: 100%;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background: none;
  border: 0;
}

.count-icon {
  float: right;
  margin-top: 3px;
  padding: 2px 7px;
  line-height: 11px;
  font-size: 9px;
  background: #4d6dd4;
  color: #fff;
  border-radius: 7px;
}

.job-toolbar {
  height: 40px;
  background: #fff;
  border-radius: 5px;
  margin: 0 0 5px;
  overflow: visible;
  box-shadow: 0px 2px 1px 0 rgba(0, 0, 0, 0.09);

  & .toolbar-btn-primary {
    appearance: none;
    background: rgba(12, 184, 253, 0.8);
    height: 30px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    padding: 4px 20px;
    color: $white-color;
    font-weight: bold;
  }
  & .toolbar-btn-default {
    appearance: none;
    background: rgba(0, 0, 0, 0.29);
    height: 30px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    padding: 4px 20px;
    color: $white-color;
    font-weight: bold;
  }

  & .toolbar-btn-info {
    appearance: none;
    color: $black-color;
    background: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    height: 30px;
    font-size: 19px;
    padding: 4px 12px;
  }
}

.details-table {
  font-family: monospace;
  margin: 0 auto;
  width: 100%;
  font-size: 16px;
  height: 65px;
  & td {
    max-width: 24px;
    text-overflow: ellipsis;
    word-break: break-all;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
  }
  & tr > td:nth-child(even) {
    text-align: center;
    padding: 0 2px;
  }
}

.job-view {
  margin-top: 75px;
  & table {
    font-family: monospace;
    padding: 7px;
    margin: 8px;
    & tr > td:nth-child(even) {
      padding: 0px 10px;
    }
    & tr > td:nth-child(odd) {
      padding: 10px 2px;
      font-weight: bold;
      font-size: 16px;
      vertical-align: top;
    }
  }
}

.detail-text {
  font-family: monospace;
  font-size: 15px;
  padding: 6px 15px;
  border-radius: 4px;
}

.monospace {
  font-family: monospace;
}

.upload-space {
  color: $grey-color;
  border: 5px dashed $border-grey;
  border-radius: 9px;
  outline: none;
  height: 253px;
  &:hover {
    color: #0e0e0ed1;
  }
  &:focus {
    color: #0e0e0ed1;
  }
}

.Toastify__toast-container {
  top: 6em !important;
}

.selectable-list {
  &:hover {
    background: #def9ff;
  }
  &.selected-item {
    background: #def9ff;
  }
}

.scrollable-table {
  width: 100%;
  & .scrollable-table-body {
    max-height: 219px;
    min-height: 219px;
    overflow: auto;
  }
  &.mlflow .scrollable-table-body {
    max-height: 140px !important;
    min-height: 140px !important;
    overflow: auto;
  }
  & .scrollable-table-header div,
  & .scrollable-table-body div {
    & span:nth-child(1) {
      width: 80%;
    }
    & span:nth-child(2) {
      width: 20%;
    }
    & span {
      padding: 10px;
      display: inline-block;
    }
  }
  &.mlflow .scrollable-table-header div,
  &.mlflow .scrollable-table-body div {
    & span:nth-child(1) {
      width: 40%;
    }
    & span:nth-child(2) {
      width: 60%;
    }
    & span {
      padding: 10px;
      display: inline-block;
    }
  }
  & .scrollable-table-header div {
    & span:nth-child(1) {
      width: 78%;
    }
  }
  &.mlflow .scrollable-table-header div {
    & span:nth-child(1) {
      width: 39%;
    }
  }
}

.scrollable-table.mlflow-run {
  width: 100%;
  & .scrollable-table-body {
    max-height: 219px;
    min-height: 219px;
    overflow: auto;
  }
  & .scrollable-table-header div,
  & .scrollable-table-body div {
    & span:nth-child(1) {
      width: 20%;
    }
    & span:nth-child(2) {
      width: 60%;
    }
    & span:nth-child(3) {
      width: 20%;
    }
    & span {
      padding: 10px;
      display: inline-block;
    }
  }
  & .scrollable-table-header div {
    & span:nth-child(1) {
      width: 19.3%;
    }
    & span:nth-child(2) {
      width: 59%;
    }
    & span:nth-child(3) {
      width: 20%;
    }
  }
}

.expandable-table {
  & > div:hover,
  & > div[data-active="true"] {
    // box-shadow: 0px 0px 2px 1px rgba(158, 158, 158, 0.48);
    box-shadow: 0 3px 6px 2px rgba(6, 6, 6, 0.4);
  }
  & > div > span {
    display: inline-flex;
    padding: 10px 20px;
    min-width: 110px;
    max-width: 260px;
  }
  & > div > span[data-type="icon"] {
    min-width: 70px;
    max-width: 70px;
    padding: 10px;
  }
  & > div > span[data-type="name"] {
    min-width: 155px;
    max-width: 155px;
    padding: 10px;
  }
  & > div > span[data-type="date"] {
    min-width: 210px;
    max-width: 210px;
    padding: 10px 15px;
    text-align: center;
  }
  & > div > span[data-type="details"] {
    min-width: 210px;
    max-width: 210px;
    padding: 10px;
  }
}

.deployment-dialog > div:nth-child(2) {
  padding-left: 20px !important;
  padding-right: 20px !important;
  margin-top: 20px !important;
}

.properties-table {
  width: auto;
  font-size: 15px;
  & tr td:nth-child(odd) {
    padding-left: 0;
    color: $grey-color;
  }
  & tr td:nth-child(even) {
    text-transform: lowercase;
  }
}

.horizontal-scroll {
  overflow-x: scroll;
}

.field-selection {
  padding: 5px 0;
  &:hover {
    color: $blue-color;
    cursor: pointer;
  }
  & span:first-child {
    word-break: break-all;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  &:hover .action-icon {
    width: 20px;
    display: inline-block;
    vertical-align: super;
  }
}

.vertical-columns {
  min-width: 240px;
  font-size: 14px;
  & div {
    padding: 5px;
    margin: 2px 0;
    word-break: break-all;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  &.vertical-body {
    min-width: 190px;
    & a {
      display: inline-block;
      line-height: initial;
      width: 99%;
      word-break: break-all;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
  &.vertical-header div {
    color: $grey-color;
  }
}
.title-padding {
  padding-top: 10px;
}
// .step-title{
//   position: static;
//   height:24px;
//   left: 24px;
//   font-style: normal;
//   font-weight: 500;
//   font-size: 20px;
//   line-height: 24px;
//   letter-spacing: 0.15px
// }

.package-content {
  text-align: left;
  align-self: center;
  margin-top: 1rem;
}
.step-title {
  position: static;
  height: 1.5rem;
  left: 1.5rem;
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: 0.15px;
}
.step-description {
  position: static;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.5px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 16px 0px;
}
.mt-48 {
  margin-top: 3rem;
}
.size-linput-label {
  color: rgba(0, 0, 0, 0.38);
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: normal;
  font-size: normal;
  letter-spacing: 0.4px;
  margin: 1px 0px;
}
.package-row {
  display: flex;
  row-gap: 10px;
  justify-content: space-between;
  margin-bottom: 1.87rem;
}
.img-scipy {
  max-height: 3.5rem;
  max-width: 6.25rem;
}

.img-scipy-notebook-logo {
  max-height: 2rem;
  max-width: 3.5rem;
}

.package-img1 {
  max-height: 3.5rem;
  max-width: 6.25rem;
  position: relative;
  margin-left: 1.25rem;
  padding-right: 1.56rem;
}
.package-img2 {
  height: 3.5rem;
  width: 6.25rem;
  margin-left: 0.75rem;
  padding-right: 1.06rem;
}
.package-img3 {
  height: 3.5rem;
  width: 6.25rem;
  margin-left: 5px;
  padding-right: 5px;
}
.package-flex {
  flex: 0 0 600px;
}
.package-name {
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.87);
  margin-left: 3.12rem;
  height: 1.5rem;
  font-style: normal;
  font-weight: normal;
}
.package-desc {
  font-size: 0.87rem;
  line-height: 1.25rem;
  letter-spacing: 0.25px;
  color: rgba(0, 0, 0, 0.6);
  margin-left: 3.12rem;
  height: 1.5rem;
  font-style: normal;
  font-weight: normal;
}
.f-r {
  float: right;
  cursor: pointer;
}
.review-package {
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.87);
  height: 24px;
  font-style: normal;
  font-weight: 700;
}
.mt-24 {
  margin-top: 24px;
}
.mt-15 {
  margin-top: 15px;
}
.review-notebook {
  margin-top: 40px;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.87);
  height: 1.5rem;
  font-style: normal;
  font-weight: 700;
}
.review-dfmr {
  display: flex;
  margin-top: 38;
}
.review-size {
  flex: 0 0 186px;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.87);
  font-style: normal;
  font-weight: normal;
}
.review-flx-150 {
  flex: 0 0 150px;
  flex-wrap: wrap;
}
.storage-wrksp {
  position: static;
  height: 1.5rem;
  left: 1.5rem;
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.87);
  margin-top: 3rem;
}
.torage-wrksp-deac {
  position: static;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.25px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 1px 0px;
}
.storage-datavolumes {
  position: static;
  height: 24px;
  left: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.15px;
}
.storage-datavolumes-desc {
  position: static;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.25px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 1px 0px;
}
.notebookform-content {
  text-align: left;
  align-self: center;
  margin-top: 0%;
}
.mt-46 {
  margin-top: 2.8rem;
}
.notebookform-nm-input {
  width: 26.25rem;
  height: 3.5rem;
  position: absolute;
  border-radius: 4px 4px 0px 0px;
}
.notebookform-tab-name {
  font-style: normal;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 1.5rem;
}
.pl-0 {
  padding-left: 0px;
}
.err {
  font-size: small;
  color: red;
}
.notebook-form-title {
  padding-left: 18px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
.mt-30 {
  margin-top: 30px;
}
.ml-15 {
  margin-left: 18px;
}
.ml-15 {
  margin-left: 15px;
}
.h120 {
  min-height: 120px;
}
.notebookcard {
  max-width: 940px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  // padding: 24px;
  position: static;
  // margin-left: calc(50% - 940px / 2);
  background: #ffffff;
}
.custom-tooltip{
  z-index: 1000 !important;
}

.datasets_title{
  font-size:1rem;
  font-weight: 600;
}

.header-top-margin {
  margin-top: 4.5rem
}

.projects-list-container::-webkit-scrollbar {
  display: none;
}

.add-secrets-data-items {
  height: 10rem;
  overflow: auto;
}

.margin-right-20rem {
  margin-right: 20rem;
}

.margin-top-8rem {
  margin-top: 8rem;
}

.margin-top-4rem {
  margin-top: 4rem;
}

.vertical-border-line {
  border-right: 1px solid grey;
  height: 100%;
}

.workflows-form-side-heading {
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px;
}

#navbarCollapse{
  height: 70px;
}

.menu-bar{
  margin:inherit;
}

#project_select_section{
  width: 200px;
  // padding-bottom: 32px;
}

#project_select_value{
  // padding-left: 36px;
  // padding-right: 20px;
}

#Select_project_label{
  font-size: 16px;
  font-weight: 500;
  line-height: 1.75;
  font-family: inherit;
}

#project_select_value{
&:hover #Select_project_label{
  color:blue;
}
}

.project_select_placeholder{
  padding-left: 36px;
}

.projectSearchDropdown_tooltip{
  padding: 0px 8px !important;
}

.project_icon_tooltip{
  margin-bottom: inherit
}

.Select-to-border > div{
  border: none;
  &:hover{
    box-shadow: none;
  }
}

.Select .Select-to-border .is-focused:not(.is-open) > div {
  border-color: white;
}

#project_dropdown_icon.svg{
  color:blue
}

.workflow-run-button {
  background-color: rgba(12, 184, 253, 0.8);
  color: #fff;
  height: 30px;
  padding: 4px 20px;
  font-size: 12px;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  margin-right: 15px;
  cursor: pointer;
}

.outline-none {
  outline: none;
  border: none;
}
