/*----open-sans----*/
@font-face {
  font-family: "Open Sans";
  src: url("./fonts/open-sans/OpenSans-Light.ttf") format("ttf");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Open Sans";
  src: url("./fonts/open-sans/OpenSans-LightItalic.ttf") format("ttf");
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: "Open Sans";
  src: url("./fonts/open-sans/OpenSans-Regular.ttf") format("ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Open Sans";
  src: url("./fonts/open-sans/OpenSans-Italic.ttf") format("ttf");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "Open Sans";
  src: url("./fonts/open-sans/OpenSans-SemiBold.ttf") format("ttf");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Open Sans";
  src: url("./fonts/open-sans/OpenSans-Bold.ttf") format("ttf");
  font-style: normal;
  font-weight: 700;
}
